CONFIG_BOARD_TYPE_DOIT_ESP32S3_EYE_6824_V2=y
CONFIG_DOIT_DISPLAY_LCD_TYPE=LCD_ST7796_240X240
CONFIG_USE_AUDIO_CODEC_ENCODE_OPUS=y
CONFIG_VB6824_OTA_SUPPORT=y
CONFIG_USE_AFE_WAKE_WORD=n
CONFIG_USE_WAKE_WORD_DETECT=n
CONFIG_USE_AUDIO_PROCESSOR=n
CONFIG_USE_AUDIO_PROCESSOR=n

CONFIG_USE_BLUFI_NET_CONFIGURING=y

# blufi support, need enable USE_BLUFI_NET_CONFIGURING
CONFIG_MBEDTLS_DHM_C=y
CONFIG_MBEDTLS_HARDWARE_MPI=n
CONFIG_BT_GATTC_ENABLE=n
CONFIG_BT_BLE_SMP_ENABLE=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_GAP_SERVICE=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_SECURITY_ENABLE=n
CONFIG_BT_NIMBLE_CRYPTO_STACK_MBEDTLS=n
CONFIG_BT_NIMBLE_BLUFI_ENABLE=y
CONFIG_BT_CTRL_RUN_IN_FLASH_ONLY=y